@mixin button-states($color) {
  background-color: $color;
  &:hover,
  &:focus {
    background-color: scale-color($color, $lightness: 20%)
  }
  &:active,
  &.active {
    background-color: scale-color($color, $lightness: -15%)
  }
}


// Buttons -----------------------
.btn {;
  border: none;
  // background: $base;
  color: $inverse;
  font-size: 16px;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 4px;
  text-shadow: none;
  box-shadow: none;
  transition: .25s;

  &:hover,
  &:focus {
    background-color: scale-color($base, $lightness: 20%);
    color: $inverse;
    transition: .25s;
  }

  &:active,
  &.active {
    background-color: scale-color($base, $lightness: -15%);
    color: rgba($inverse, .75);
    box-shadow: none;
  }

  &.disabled,
  &[disabled] {
    background-color: $gray;
    color: $inverse;
  }

  // Sizes -----------------------
  &.btn-large {
    padding-bottom: 12px;
    padding-top: 13px;
  }

  // Colors -----------------------
  &.btn-primary {
    @include button-states($firm);
  }

  &.btn-info {
    @include button-states($info);
  }

  &.btn-danger {
    @include button-states($danger)
  }

  &.btn-success {
    @include button-states($success)
  }

  &.btn-warning {
    @include button-states($warning)
  }

  &.btn-info-clear {
    @include button-states(transparent)
    border: 1px solid $info;
    color: $info;
    &:hover {
      background: $info;
      color: #fff;
    }
  }

  // Button with icon inside
  // .btn-toolbar &
  //   font-size: 18px
  //   padding: 10px 14px 9px

  //   &:first-child
  //     @import border-radius(6px 0 0 6px)

  //   &:last-child
  //     @import border-radius(0 6px 6px 0) 
}


.btn-toolbar {
  .btn.active {
    color: $inverse
  }
}

