.invite-friend {
    &--wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        i {
            display: inline-block;
            margin-right: 5px;
            color: #666;
            &:hover {
                color: #444;
            }
        }
    }
    &__search-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__title {
        font-size: 16px;
        margin: 20px 0 5px;
    }
    &__input {
        width: 200px;
        height: 30px;
        padding: 5px;
        border-radius: 3px;
        border: 1px solid #cdcdcd;
    }
    &__btn {
        float: right;
        padding: 6px 25px;
        margin-left: 10px;
        border: 0;
        font-size: 14px;
        color: #fff;
        background: #4caf50;
        border-radius: 4px;

        &:hover {
            color: #fff;
            background: #5ab35e;
        }
    }
}

.delete-friend {
    position: absolute;
    top: 8px;
    right: 10px;
    color: #e74c3c;
    padding: 0;
    :hover {
        color: #ec7063;
        background: transparent;
    }
}