html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

.something {
  height: 100vh;
  background-color: red; }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #cecece;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2); }

::-webkit-scrollbar-thumb:window-inactive {
  background: #cecece; }

html,
body {
  height: 100%; }

*,
*:before,
*:after,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.body {
  background: #1f3649;
  background: -webkit-radial-gradient(center ellipse, #1f3649 0%, #17253d 44%, #040d11 100%);
  background: radial-gradient(ellipse at center, #1f3649 0%, #17253d 44%, #040d11 100%); }

.container {
  position: relative;
  max-width: 1200px;
  height: 100%;
  font-family: Arial, Tahoma, Verdana, sans-serif;
  margin: 0 auto; }

.login__container {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 300px;
  width: 70%;
  max-width: 840px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid red; }

.login__main-icon {
  position: absolute;
  top: -100px;
  left: 50%;
  font-size: 80px;
  color: #fff;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.login__description-wrapper {
  width: 40%;
  height: 100%;
  background: #319DB5;
  padding: 30px 20px;
  color: #fff;
  line-height: 1.75; }
  .login__description-wrapper h3 {
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 27px; }

.login .description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px; }
  .login .description__item {
    width: 100%; }
    .login .description__item i {
      margin-right: 10px;
      color: #f3f3f3; }

.login__form-wrapper {
  width: 60%;
  height: 100%;
  padding: 38px 20px;
  background: #fff;
  text-align: center; }
  .login__form-wrapper h3 {
    font-weight: bold;
    font-size: 27px;
    margin-bottom: 50px; }
  .login__form-wrapper .btn {
    display: block;
    width: 70%;
    padding: 10px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    color: #fff;
    margin: 10px auto;
    font-size: 16px; }
    .login__form-wrapper .btn i {
      float: none;
      margin-right: 10px;
      font-size: 18px;
      vertical-align: middle; }
    .login__form-wrapper .btn__google {
      border: 1px solid #CC181E;
      background: #CC181E; }
      .login__form-wrapper .btn__google:hover {
        background: #e73036; }
    .login__form-wrapper .btn__facebook {
      border: 1px solid #3B5998;
      background: #3B5998; }
      .login__form-wrapper .btn__facebook:hover {
        background: #4c70ba; }

.btn {
  border: none;
  outline: none;
  background: none; }

/* -------------------------------
Header
-------------------------------- */
.header {
  height: 70px;
  position: relative;
  background-color: #00bcd4;
  z-index: 10;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  color: #666; }
  .header__burger {
    display: block;
    position: absolute;
    left: 22px;
    top: 25px; }
  .header .user {
    position: relative;
    float: right;
    margin: 13px 82px 0 0; }
    .header .user__avatar {
      display: inline-block;
      width: 42px;
      height: 42px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      overflow: hidden;
      border: 1px solid #666; }
    .header .user__name {
      display: inline-block;
      font: bold 15px Arial, Tahoma, Verdana, sans-serif;
      margin-top: -30px;
      color: #fff;
      letter-spacing: .005em;
      vertical-align: middle; }
  .header__search {
    position: relative;
    float: right;
    margin: 22px 50px 0 0; }
    .header__search label {
      display: block;
      position: absolute;
      right: -30px;
      top: 2px; }
      .header__search label:hover {
        cursor: pointer; }
  .header .search[type=text] {
    width: 0px;
    height: 25px;
    padding: 0 5px;
    border: 0;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out; }
  .header .search[type=text]:focus {
    width: 200px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background: #fff; }

/* -------------------------------
Aside
-------------------------------- */
.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-calc(100% - 70px);
  height: calc(100% - 70px); }

.aside {
  width: 240px;
  height: 100%;
  background: #2b2e33;
  color: #fff;
  padding: 20px 20px;
  line-height: 2; }
  .aside .menu__item.is-active a {
    color: #737c8c; }
  .aside .menu__item.is-active i {
    color: #fff; }
  .aside .menu__item a {
    text-decoration: none;
    color: #fff;
    -webkit-transition: color 100ms;
    transition: color 100ms; }
    .aside .menu__item a:hover {
      color: #737c8c; }
  .aside .menu__item i {
    display: inline-block;
    margin-right: 10px;
    width: 15px;
    color: #737c8c; }

/* -------------------------------
Main
-------------------------------- */
.main {
  width: -webkit-calc(100% - 240px);
  width: calc(100% - 240px);
  height: 100%;
  overflow-y: scroll;
  background: -webkit-radial-gradient(center ellipse, #fff 0%, #e4e2e2 44%, #e2e0e0 100%);
  background: radial-gradient(ellipse at center, #fff 0%, #e4e2e2 44%, #e2e0e0 100%); }

.title {
  display: block;
  font-size: 30px;
  font-weight: bold;
  margin: 10px auto 30px;
  text-align: center; }

.tabs {
  width: 100%; }
  .tabs .js-tabs-nav {
    display: block; }
  .tabs ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .tabs li {
    float: left;
    width: 25%; }
  .tabs a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: black;
    border-bottom: 3px solid transparent;
    text-align: center;
    -webkit-transition: all 200ms;
    transition: all 200ms; }
  .tabs a:active {
    color: white; }
  .tabs .is-active a {
    border-bottom: 3px solid red; }
  .tabs .tab-content {
    display: none;
    padding: 20px; }
  .tabs .is-active {
    display: block; }
  .tabs .is-hidden {
    display: none; }

.video {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .video__item {
    width: 50%;
    padding: 5px 5px 10px 5px;
    text-align: center;
    font-weight: bold; }
  .video iframe {
    width: 100%; }
  .video__title {
    margin-top: 5px;
    padding-bottom: 5px; }

/* -------------------------------
Chats
-------------------------------- */
.friend {
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding: 20px; }
  .friend__item {
    display: inline-block;
    width: 96px;
    height: 66px;
    text-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    width: auto;
    padding: 5px;
    text-decoration: none;
    font-size: 0;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background-color: #9e9e9e;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); }
  .friend__avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    border: 1px solid #888; }
  .friend__user-name {
    display: block;
    font: 14px Arial, Tahoma, Verdana, sans-serif;
    color: #34495e;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff; }

.invite-friend--wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px; }
  .invite-friend--wrapper i {
    display: inline-block;
    margin-right: 5px;
    color: #666; }
    .invite-friend--wrapper i:hover {
      color: #444; }

.invite-friend__input {
  width: 200px;
  height: 30px;
  padding: 5px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #cdcdcd; }

.invite-friend__btn {
  float: right;
  padding: 6px 25px;
  margin-top: -1px;
  margin-left: 10px;
  border: 0;
  font: 14px Arial, Tahoma, Verdana, sans-serif;
  color: #fff;
  background: #4caf50;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-transition: background 100ms ease-in-out;
  transition: background 100ms ease-in-out;
  -webkit-box-shadow: 0 3px 15px #f2f6f8;
          box-shadow: 0 3px 15px #f2f6f8; }
  .invite-friend__btn:hover {
    color: #fff;
    background: #5ab35e; }

.share {
  padding: 0 20px 20px; }
  .share__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 20px; }
  .share__link input {
    width: 200px;
    height: 30px;
    padding: 5px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    border: 1px solid #cdcdcd; }
  .share__link i {
    display: inline-block;
    margin-right: 1px;
    color: #666;
    vertical-align: middle; }
  .share .friend {
    width: 20%;
    padding: 0 10px 0 0;
    margin-top: 20px; }
    .share .friend__item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      background: transparent;
      height: auto;
      margin-bottom: 8px; }
    .share .friend__avatar {
      width: 30px;
      height: 30px;
      margin-right: 10px; }
    .share .friend__user-name {
      color: #666; }

/*--------------------
Mixins
--------------------*/
/*--------------------
Chat
--------------------*/
.chat {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 240px;
  height: 60vh;
  max-height: 500px;
  z-index: 2;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.5);
  background: #00BCD4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

/*--------------------
Chat Title
--------------------*/
.chat-title {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 45px;
      -ms-flex: 0 1 45px;
          flex: 0 1 45px;
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  padding: 10px 10px 10px 50px; }
  .chat-title h1, .chat-title h2 {
    font-weight: normal;
    font-size: 10px;
    margin: 0;
    padding: 0; }
  .chat-title h2 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 8px;
    letter-spacing: 1px; }
  .chat-title .avatar {
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 9px;
    -webkit-border-radius: 30px;
            border-radius: 30px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 2px solid rgba(255, 255, 255, 0.24); }
    .chat-title .avatar img {
      width: 100%;
      height: auto; }

/*--------------------
Messages
--------------------*/
.messages {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: rgba(255, 255, 255, 0.5);
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  width: 100%; }
  .messages .messages-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  .messages .message {
    clear: both;
    float: left;
    padding: 6px 10px 7px;
    -webkit-border-radius: 10px 10px 10px 0;
            border-radius: 10px 10px 10px 0;
    background: rgba(0, 0, 0, 0.3);
    margin: 8px 0;
    font-size: 11px;
    line-height: 1.4;
    margin-left: 35px;
    position: relative;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
    .messages .message .timestamp {
      position: absolute;
      bottom: -15px;
      font-size: 9px;
      color: rgba(255, 255, 255, 0.3); }
    .messages .message::before {
      content: '';
      position: absolute;
      bottom: -6px;
      border-top: 6px solid rgba(0, 0, 0, 0.3);
      left: 0;
      border-right: 7px solid transparent; }
    .messages .message .avatar {
      position: absolute;
      z-index: 1;
      bottom: -15px;
      left: -35px;
      -webkit-border-radius: 30px;
              border-radius: 30px;
      width: 30px;
      height: 30px;
      overflow: hidden;
      margin: 0;
      padding: 0;
      border: 2px solid rgba(255, 255, 255, 0.24); }
      .messages .message .avatar img {
        width: 100%;
        height: auto; }
    .messages .message.message-personal {
      float: right;
      color: #fff;
      text-align: right;
      background: -webkit-linear-gradient(330deg, #248A52, #257287);
      background: linear-gradient(120deg, #248A52, #257287);
      -webkit-border-radius: 10px 10px 0 10px;
              border-radius: 10px 10px 0 10px; }
      .messages .message.message-personal::before {
        left: auto;
        right: 0;
        border-right: none;
        border-left: 5px solid transparent;
        border-top: 4px solid #257287;
        bottom: -4px; }
    .messages .message:last-child {
      margin-bottom: 30px; }
    .messages .message.new {
      -webkit-transform: scale(0);
          -ms-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 0 0;
          -ms-transform-origin: 0 0;
              transform-origin: 0 0;
      -webkit-animation: bounce 500ms linear both;
              animation: bounce 500ms linear both; }
    .messages .message.loading::before {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      content: '';
      display: block;
      width: 3px;
      height: 3px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background: rgba(255, 255, 255, 0.5);
      z-index: 2;
      margin-top: 4px;
      -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
              animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
      border: none;
      -webkit-animation-delay: .15s;
              animation-delay: .15s; }
    .messages .message.loading span {
      display: block;
      font-size: 0;
      width: 20px;
      height: 10px;
      position: relative; }
      .messages .message.loading span::before {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        content: '';
        display: block;
        width: 3px;
        height: 3px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background: rgba(255, 255, 255, 0.5);
        z-index: 2;
        margin-top: 4px;
        -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
                animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
        margin-left: -7px; }
      .messages .message.loading span::after {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        content: '';
        display: block;
        width: 3px;
        height: 3px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background: rgba(255, 255, 255, 0.5);
        z-index: 2;
        margin-top: 4px;
        -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
                animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
        margin-left: 7px;
        -webkit-animation-delay: .3s;
                animation-delay: .3s; }

/*--------------------
Message Box
--------------------*/
.message-box {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 40px;
      -ms-flex: 0 1 40px;
          flex: 0 1 40px;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  position: relative; }
  .message-box .message-input {
    background: none;
    border: none;
    outline: none !important;
    resize: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 11px;
    height: 17px;
    margin: 0;
    padding-right: 20px;
    width: 265px; }
  .message-box textarea:focus:-webkit-placeholder {
    color: transparent; }
  .message-box .message-submit {
    position: absolute;
    z-index: 1;
    top: 9px;
    right: 10px;
    color: #fff;
    border: none;
    background: #248A52;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 1;
    padding: 6px 10px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    outline: none !important;
    -webkit-transition: background .2s ease;
    transition: background .2s ease; }
    .message-box .message-submit:hover {
      background: #1D7745; }

/*--------------------
Custom Srollbar
--------------------*/
.mCSB_scrollTools {
  margin: 1px -3px 1px 0;
  opacity: 0; }

.mCSB_inside > .mCSB_container {
  margin-right: 0px;
  padding: 0 10px; }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: rgba(0, 0, 0, 0.5) !important; }

/*--------------------
Bounce
--------------------*/
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.7% {
    -webkit-transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.41% {
    -webkit-transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.11% {
    -webkit-transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.72% {
    -webkit-transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.32% {
    -webkit-transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.93% {
    -webkit-transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.54% {
    -webkit-transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.04% {
    -webkit-transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.15% {
    -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.26% {
    -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.49% {
    -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } }
@keyframes bounce {
  0% {
    -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.7% {
    -webkit-transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.41% {
    -webkit-transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.11% {
    -webkit-transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.72% {
    -webkit-transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.32% {
    -webkit-transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.93% {
    -webkit-transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.54% {
    -webkit-transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.04% {
    -webkit-transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.15% {
    -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.26% {
    -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.49% {
    -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } }

@-webkit-keyframes ball {
  from {
    -webkit-transform: translateY(0) scaleY(0.8);
            transform: translateY(0) scaleY(0.8); }
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); } }

@keyframes ball {
  from {
    -webkit-transform: translateY(0) scaleY(0.8);
            transform: translateY(0) scaleY(0.8); }
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); } }
