html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

.something {
  height: 100vh;
  background-color: red; }

html,
body {
  height: 100%;
  background: -webkit-radial-gradient(center ellipse, #1f3649 0%, #17253d 44%, #040d11 100%);
  background: radial-gradient(ellipse at center, #1f3649 0%, #17253d 44%, #040d11 100%);
  font-family: 'Roboto', sans-serif; }

*,
*:before,
*:after,
*::before,
*::after {
  box-sizing: border-box; }

.container {
  position: relative;
  max-width: 1200px;
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0 auto;
  padding-top: 60px;
  background: #1f3649; }

.content {
  min-height: 100%; }

.main {
  width: 100%;
  min-height: 100%;
  background: -webkit-radial-gradient(center ellipse, #fff 0%, #e4e2e2 44%, #e2e0e0 100%);
  background: radial-gradient(ellipse at center, #fff 0%, #e4e2e2 44%, #e2e0e0 100%); }

.title {
  display: block;
  font-size: 30px;
  font-weight: bold;
  margin: 0 auto 10px;
  padding-top: 20px;
  text-align: center; }

.btn {
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 4px;
  text-shadow: none;
  box-shadow: none;
  -webkit-transition: .25s;
  transition: .25s; }
  .btn:hover, .btn:focus {
    background-color: #4e6d8d;
    color: #fff;
    -webkit-transition: .25s;
    transition: .25s; }
  .btn:active, .btn.active {
    background-color: #2c3e50;
    color: rgba(255, 255, 255, 0.75);
    box-shadow: none; }
  .btn.disabled, .btn[disabled] {
    background-color: #95a5a6;
    color: #fff; }
  .btn.btn-large {
    padding-bottom: 12px;
    padding-top: 13px; }
  .btn.btn-primary {
    background-color: #1abc9c; }
    .btn.btn-primary:hover, .btn.btn-primary:focus {
      background-color: #2fe2bf; }
    .btn.btn-primary:active, .btn.btn-primary.active {
      background-color: #16a085; }
  .btn.btn-info {
    background-color: #3498db; }
    .btn.btn-info:hover, .btn.btn-info:focus {
      background-color: #5dade2; }
    .btn.btn-info:active, .btn.btn-info.active {
      background-color: #2383c4; }
  .btn.btn-danger {
    background-color: #e74c3c; }
    .btn.btn-danger:hover, .btn.btn-danger:focus {
      background-color: #ec7063; }
    .btn.btn-danger:active, .btn.btn-danger.active {
      background-color: #dc2d1b; }
  .btn.btn-success {
    background-color: #2ecc71; }
    .btn.btn-success:hover, .btn.btn-success:focus {
      background-color: #55d98d; }
    .btn.btn-success:active, .btn.btn-success.active {
      background-color: #27ad60; }
  .btn.btn-warning {
    background-color: #f1c40f; }
    .btn.btn-warning:hover, .btn.btn-warning:focus {
      background-color: #f4d03f; }
    .btn.btn-warning:active, .btn.btn-warning.active {
      background-color: #cea70c; }
  .btn.btn-info-clear {
    background-color: transparent;
    border: 1px solid #3498db;
    color: #3498db; }
    .btn.btn-info-clear:hover, .btn.btn-info-clear:focus {
      background-color: rgba(51, 51, 51, 0); }
    .btn.btn-info-clear:active, .btn.btn-info-clear.active {
      background-color: transparent; }
    .btn.btn-info-clear:hover {
      background: #3498db;
      color: #fff; }

.btn-toolbar .btn.active {
  color: #fff; }

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border: 1px solid #dce4ec;
  color: #34495e;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  text-indent: 1px;
  border-radius: 4px;
  box-shadow: none;
  placeholder-color: #acb6c0; }
  textarea:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="time"]:focus,
  input[type="week"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="color"]:focus,
  .uneditable-input:focus {
    border-color: #1abc9c;
    box-shadow: none; }
  .control-group.error textarea, .control-group.error
  input[type="text"], .control-group.error
  input[type="password"], .control-group.error
  input[type="datetime"], .control-group.error
  input[type="datetime-local"], .control-group.error
  input[type="date"], .control-group.error
  input[type="month"], .control-group.error
  input[type="time"], .control-group.error
  input[type="week"], .control-group.error
  input[type="number"], .control-group.error
  input[type="email"], .control-group.error
  input[type="url"], .control-group.error
  input[type="search"], .control-group.error
  input[type="tel"], .control-group.error
  input[type="color"], .control-group.error
  .uneditable-input {
    border-color: #e74c3c;
    color: #e74c3c;
    box-shadow: none; }
    .control-group.error textarea:focus, .control-group.error
    input[type="text"]:focus, .control-group.error
    input[type="password"]:focus, .control-group.error
    input[type="datetime"]:focus, .control-group.error
    input[type="datetime-local"]:focus, .control-group.error
    input[type="date"]:focus, .control-group.error
    input[type="month"]:focus, .control-group.error
    input[type="time"]:focus, .control-group.error
    input[type="week"]:focus, .control-group.error
    input[type="number"]:focus, .control-group.error
    input[type="email"]:focus, .control-group.error
    input[type="url"]:focus, .control-group.error
    input[type="search"]:focus, .control-group.error
    input[type="tel"]:focus, .control-group.error
    input[type="color"]:focus, .control-group.error
    .uneditable-input:focus {
      box-shadow: none; }
  .control-group.success textarea, .control-group.success
  input[type="text"], .control-group.success
  input[type="password"], .control-group.success
  input[type="datetime"], .control-group.success
  input[type="datetime-local"], .control-group.success
  input[type="date"], .control-group.success
  input[type="month"], .control-group.success
  input[type="time"], .control-group.success
  input[type="week"], .control-group.success
  input[type="number"], .control-group.success
  input[type="email"], .control-group.success
  input[type="url"], .control-group.success
  input[type="search"], .control-group.success
  input[type="tel"], .control-group.success
  input[type="color"], .control-group.success
  .uneditable-input {
    border-color: #2ecc71;
    color: #2ecc71;
    box-shadow: none; }
    .control-group.success textarea:focus, .control-group.success
    input[type="text"]:focus, .control-group.success
    input[type="password"]:focus, .control-group.success
    input[type="datetime"]:focus, .control-group.success
    input[type="datetime-local"]:focus, .control-group.success
    input[type="date"]:focus, .control-group.success
    input[type="month"]:focus, .control-group.success
    input[type="time"]:focus, .control-group.success
    input[type="week"]:focus, .control-group.success
    input[type="number"]:focus, .control-group.success
    input[type="email"]:focus, .control-group.success
    input[type="url"]:focus, .control-group.success
    input[type="search"]:focus, .control-group.success
    input[type="tel"]:focus, .control-group.success
    input[type="color"]:focus, .control-group.success
    .uneditable-input:focus {
      box-shadow: none; }
  .control-group.warning textarea, .control-group.warning
  input[type="text"], .control-group.warning
  input[type="password"], .control-group.warning
  input[type="datetime"], .control-group.warning
  input[type="datetime-local"], .control-group.warning
  input[type="date"], .control-group.warning
  input[type="month"], .control-group.warning
  input[type="time"], .control-group.warning
  input[type="week"], .control-group.warning
  input[type="number"], .control-group.warning
  input[type="email"], .control-group.warning
  input[type="url"], .control-group.warning
  input[type="search"], .control-group.warning
  input[type="tel"], .control-group.warning
  input[type="color"], .control-group.warning
  .uneditable-input {
    border-color: #f1c40f;
    color: #f1c40f;
    box-shadow: none; }
    .control-group.warning textarea:focus, .control-group.warning
    input[type="text"]:focus, .control-group.warning
    input[type="password"]:focus, .control-group.warning
    input[type="datetime"]:focus, .control-group.warning
    input[type="datetime-local"]:focus, .control-group.warning
    input[type="date"]:focus, .control-group.warning
    input[type="month"]:focus, .control-group.warning
    input[type="time"]:focus, .control-group.warning
    input[type="week"]:focus, .control-group.warning
    input[type="number"]:focus, .control-group.warning
    input[type="email"]:focus, .control-group.warning
    input[type="url"]:focus, .control-group.warning
    input[type="search"]:focus, .control-group.warning
    input[type="tel"]:focus, .control-group.warning
    input[type="color"]:focus, .control-group.warning
    .uneditable-input:focus {
      box-shadow: none; }
  .control-group.info textarea, .control-group.info
  input[type="text"], .control-group.info
  input[type="password"], .control-group.info
  input[type="datetime"], .control-group.info
  input[type="datetime-local"], .control-group.info
  input[type="date"], .control-group.info
  input[type="month"], .control-group.info
  input[type="time"], .control-group.info
  input[type="week"], .control-group.info
  input[type="number"], .control-group.info
  input[type="email"], .control-group.info
  input[type="url"], .control-group.info
  input[type="search"], .control-group.info
  input[type="tel"], .control-group.info
  input[type="color"], .control-group.info
  .uneditable-input {
    border-color: #3498db;
    color: #3498db;
    box-shadow: none; }
    .control-group.info textarea:focus, .control-group.info
    input[type="text"]:focus, .control-group.info
    input[type="password"]:focus, .control-group.info
    input[type="datetime"]:focus, .control-group.info
    input[type="datetime-local"]:focus, .control-group.info
    input[type="date"]:focus, .control-group.info
    input[type="month"]:focus, .control-group.info
    input[type="time"]:focus, .control-group.info
    input[type="week"]:focus, .control-group.info
    input[type="number"]:focus, .control-group.info
    input[type="email"]:focus, .control-group.info
    input[type="url"]:focus, .control-group.info
    input[type="search"]:focus, .control-group.info
    input[type="tel"]:focus, .control-group.info
    input[type="color"]:focus, .control-group.info
    .uneditable-input:focus {
      box-shadow: none; }

input[disabled],
input[readonly],
textarea[disabled],
textarea[readonly] {
  background-color: #eaeded;
  border-color: transparent;
  color: #cad2d3;
  cursor: default; }

input,
textarea,
.uneditable-input {
  width: 192px; }

/* ----- Base ----- */
/* ----- Loader ----- */
.loader-wrapper {
  width: 148px;
  height: 100px;
  position: absolute;
  top: 55px;
  right: 38px;
  -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
          transform: scale(0.6); }

.loader {
  width: 148px;
  height: 100px;
  top: 0;
  left: 0;
  position: absolute; }
  .loader:after {
    content: "";
    top: auto;
    position: absolute;
    display: block;
    -webkit-animation: shadow 1.2s infinite linear;
            animation: shadow 1.2s infinite linear;
    -moz-animation: shadow 1.2s infinite linear;
    bottom: 0em;
    left: 0;
    height: .25em;
    width: 1em;
    border-radius: 50%;
    background-color: #034466;
    opacity: 0.3; }

.roller,
.roller:last-child {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: rollercoaster 1.2s infinite linear;
  -webkit-transform: rotate(135deg);
  -moz-animation: rollercoaster 1.2s infinite linear;
  -moz-transform: rotate(135deg);
  animation: rollercoaster 1.2s infinite linear;
  -ms-transform: rotate(135deg);
      transform: rotate(135deg); }

.roller:last-child {
  left: auto;
  right: 0;
  -webkit-transform: rotate(-45deg);
  -webkit-animation: rollercoaster2 1.2s infinite linear;
  -moz-transform: rotate(-45deg);
  -moz-animation: rollercoaster2 1.2s infinite linear;
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
  animation: rollercoaster2 1.2s infinite linear; }

.roller:before,
.roller:last-child:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #63acde;
  border-radius: 50%; }

@-webkit-keyframes rollercoaster {
  0% {
    -webkit-transform: rotate(135deg); }
  8% {
    -webkit-transform: rotate(240deg); }
  20% {
    -webkit-transform: rotate(300deg); }
  40% {
    -webkit-transform: rotate(380deg); }
  45% {
    -webkit-transform: rotate(440deg); }
  50% {
    -webkit-transform: rotate(495deg);
    opacity: 1; }
  50.1% {
    -webkit-transform: rotate(495deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotate(495deg);
    opacity: 0; } }

@-webkit-keyframes rollercoaster2 {
  0% {
    opacity: 0; }
  49.9% {
    opacity: 0; }
  50% {
    opacity: 1;
    -webkit-transform: rotate(-45deg); }
  58% {
    -webkit-transform: rotate(-160deg); }
  70% {
    -webkit-transform: rotate(-240deg); }
  80% {
    -webkit-transform: rotate(-300deg); }
  90% {
    -webkit-transform: rotate(-340deg); }
  100% {
    -webkit-transform: rotate(-405deg); } }

@-webkit-keyframes shadow {
  0% {
    opacity: .3;
    -webkit-transform: translateX(65px) scale(0.5, 0.5); }
  8% {
    -webkit-transform: translateX(30px) scale(2, 2); }
  13% {
    -webkit-transform: translateX(0px) scale(1.3, 1.3); }
  30% {
    -webkit-transform: translateX(-15px) scale(0.5, 0.5);
    opacity: 0.1; }
  50% {
    -webkit-transform: translateX(60px) scale(1.2, 1.2);
    opacity: 0.3; }
  60% {
    -webkit-transform: translateX(130px) scale(2, 2);
    opacity: 0.05; }
  65% {
    -webkit-transform: translateX(145px) scale(1.2, 1.2); }
  80% {
    -webkit-transform: translateX(120px) scale(0.5, 0.5);
    opacity: 0.1; }
  90% {
    -webkit-transform: translateX(80px) scale(0.8, 0.8); }
  100% {
    -webkit-transform: translateX(60px);
    opacity: 0.3; } }

/* Moz */

/* No-prefix */
@keyframes rollercoaster {
  0% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  8% {
    -webkit-transform: rotate(240deg);
            transform: rotate(240deg); }
  20% {
    -webkit-transform: rotate(300deg);
            transform: rotate(300deg); }
  40% {
    -webkit-transform: rotate(380deg);
            transform: rotate(380deg); }
  45% {
    -webkit-transform: rotate(440deg);
            transform: rotate(440deg); }
  50% {
    -webkit-transform: rotate(495deg);
            transform: rotate(495deg);
    opacity: 1; }
  50.1% {
    -webkit-transform: rotate(495deg);
            transform: rotate(495deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotate(495deg);
            transform: rotate(495deg);
    opacity: 0; } }

@keyframes rollercoaster2 {
  0% {
    opacity: 0; }
  49.9% {
    opacity: 0; }
  50% {
    opacity: 1;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  58% {
    -webkit-transform: rotate(-160deg);
            transform: rotate(-160deg); }
  70% {
    -webkit-transform: rotate(-240deg);
            transform: rotate(-240deg); }
  80% {
    -webkit-transform: rotate(-300deg);
            transform: rotate(-300deg); }
  90% {
    -webkit-transform: rotate(-340deg);
            transform: rotate(-340deg); }
  100% {
    -webkit-transform: rotate(-405deg);
            transform: rotate(-405deg); } }

@keyframes shadow {
  0% {
    opacity: .3;
    -webkit-transform: translateX(65px) scale(0.5, 0.5);
            transform: translateX(65px) scale(0.5, 0.5); }
  8% {
    -webkit-transform: translateX(30px) scale(2, 2);
            transform: translateX(30px) scale(2, 2); }
  13% {
    -webkit-transform: translateX(0px) scale(1.3, 1.3);
            transform: translateX(0px) scale(1.3, 1.3); }
  30% {
    -webkit-transform: translateX(-15px) scale(0.5, 0.5);
            transform: translateX(-15px) scale(0.5, 0.5);
    opacity: 0.1; }
  50% {
    -webkit-transform: translateX(60px) scale(1.2, 1.2);
            transform: translateX(60px) scale(1.2, 1.2);
    opacity: 0.3; }
  60% {
    -webkit-transform: translateX(130px) scale(2, 2);
            transform: translateX(130px) scale(2, 2);
    opacity: 0.05; }
  65% {
    -webkit-transform: translateX(145px) scale(1.2, 1.2);
            transform: translateX(145px) scale(1.2, 1.2); }
  80% {
    -webkit-transform: translateX(120px) scale(0.5, 0.5);
            transform: translateX(120px) scale(0.5, 0.5);
    opacity: 0.1; }
  90% {
    -webkit-transform: translateX(80px) scale(0.8, 0.8);
            transform: translateX(80px) scale(0.8, 0.8); }
  100% {
    -webkit-transform: translateX(60px);
            transform: translateX(60px);
    opacity: 0.3; } }

#loader2:after {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s; }

#loader2 .roller {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s; }

#loader3:after {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

#loader3 .roller {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #cecece;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2); }

::-webkit-scrollbar-thumb:window-inactive {
  background: #cecece; }

.header {
  position: fixed;
  top: 0;
  height: 60px;
  max-width: 1200px;
  width: 100%;
  padding: 0 10px;
  background-color: #00bcd4;
  z-index: 10;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05); }
  .header__menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100%; }
  .header .menu__item {
    color: #fff;
    margin-right: 10px; }
    .header .menu__item a {
      color: #fff;
      text-decoration: none;
      -webkit-transition: all 200 ms;
      transition: all 200 ms; }
      .header .menu__item a:hover {
        color: #e4e4e4; }
  .header .user__avatar {
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #666; }
  .header .user__name {
    position: relative;
    display: inline-block;
    font: bold 15px Arial, Tahoma, Verdana, sans-serif;
    color: #fff;
    margin-right: 10px;
    margin-left: 20px;
    padding-right: 10px;
    -webkit-transition: all 200ms;
    transition: all 200ms; }
    .header .user__name:hover {
      color: #e4e4e4; }
    .header .user__name::after {
      position: absolute;
      top: 7px;
      right: -5px;
      content: '';
      display: inline-block;
      height: 0;
      width: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 6px;
      border-top-color: #fff; }
  .header .user__drop-down {
    position: absolute;
    bottom: -15px;
    right: 0;
    display: none; }
    .header .user__drop-down__item {
      color: #fff;
      text-decoration: none;
      font-weight: 400; }

.login__container {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 300px;
  width: 70%;
  max-width: 840px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.login__main-icon {
  position: absolute;
  top: -100px;
  left: 50%;
  font-size: 80px;
  color: #fff;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.login__description-wrapper {
  width: 40%;
  height: 100%;
  background: #319DB5;
  padding: 30px 20px;
  color: #fff;
  line-height: 1.75; }
  .login__description-wrapper h3 {
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 27px; }

.login .description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px; }
  .login .description__item {
    width: 100%; }
    .login .description__item i {
      margin-right: 10px;
      color: #f3f3f3; }

.login__form-wrapper {
  width: 60%;
  height: 100%;
  padding: 38px 20px;
  background: #fff;
  text-align: center; }
  .login__form-wrapper h3 {
    font-weight: bold;
    font-size: 27px;
    margin-bottom: 50px; }
  .login__form-wrapper .btn {
    display: block;
    width: 70%;
    padding: 10px;
    border-radius: 3px;
    color: #fff;
    margin: 10px auto;
    font-size: 16px; }
    .login__form-wrapper .btn i {
      float: none;
      margin-right: 10px;
      font-size: 18px;
      vertical-align: middle; }
    .login__form-wrapper .btn__facebook {
      border: 1px solid #3B5998;
      background: #3B5998;
      text-decoration: none; }
      .login__form-wrapper .btn__facebook:hover {
        background: #4c70ba; }
    .login__form-wrapper .btn__google {
      border: 1px solid #CC181E;
      background: #CC181E;
      text-decoration: none;
      margin-top: 15px; }
      .login__form-wrapper .btn__google:hover {
        background: #e73036; }

.btn {
  border: none;
  outline: none;
  background: none; }

.tabs {
  width: 100%; }
  .tabs .js-tabs-nav {
    display: block; }
  .tabs ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .tabs li {
    float: left;
    width: 25%; }
  .tabs a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: black;
    border-bottom: 3px solid transparent;
    text-align: center;
    -webkit-transition: all 200ms;
    transition: all 200ms; }
  .tabs a:active {
    color: white; }
  .tabs .is-active a {
    border-bottom: 3px solid red; }
  .tabs .tab-content {
    display: none;
    padding: 20px; }
  .tabs .is-active {
    display: block; }
  .tabs .is-hidden {
    display: none; }

.main.my-videos {
  padding: 0 15px; }

.video.video-search {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
  padding: 20px 20px 0;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2); }

.video-search {
  margin-bottom: 20px; }
  .video-search .video {
    padding: 15px; }
    .video-search .video:after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: #dce1e5;
      filter-gradient: #dce1e5, #dce1e5, horizontal;
      background-image: -webkit-linear-gradient(left, #ffe1ff 0%, #3498db 50%, #ffe1ff 100%);
      background-image: linear-gradient(left, #ffe1ff 0%, #3498db 50%, #ffe1ff 100%); }
  .video-search .video__item {
    width: 23%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 3px rgba(0, 0, 0, 0.1); }
  .video-search iframe {
    height: 120px; }
  .video-search .btn-info-clear {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 5px; }

.video {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .video__item {
    width: 48%;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold; }
  .video iframe {
    width: 100%; }
  .video__title {
    margin-top: 5px;
    padding-bottom: 5px; }
  .video__delete {
    display: inline-block; }
  .video__mass-viewing {
    display: inline-block; }

/* -------------------------------
Chats
-------------------------------- */
.friends {
  padding: 0 10px;
  min-height: 100%; }

.friend {
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding: 20px; }
  .friend__table {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 10px 0; }
  .friend__item {
    position: relative;
    display: inline-block;
    width: 150px;
    text-align: center;
    padding: 10px;
    margin: 0 5px;
    text-decoration: none;
    font-size: 0;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); }
  .friend__avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%; }
  .friend__user-name {
    display: block;
    font-size: 14px;
    color: #34495e;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
    margin-top: 5px; }

.share {
  padding: 0 20px 20px; }
  .share__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 20px; }
  .share__link input {
    width: 200px;
    height: 30px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #cdcdcd; }
  .share__link i {
    display: inline-block;
    margin-right: 1px;
    color: #666;
    vertical-align: middle; }
  .share .friend {
    width: 20%;
    padding: 0 10px 0 0;
    margin-top: 20px; }
    .share .friend__item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      background: transparent;
      height: auto;
      margin-bottom: 8px; }
    .share .friend__avatar {
      width: 30px;
      height: 30px;
      margin-right: 10px; }
    .share .friend__user-name {
      color: #666; }

/*--------------------
Mixins
--------------------*/
/*--------------------
Chat
--------------------*/
.chat {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 240px;
  height: 60vh;
  max-height: 500px;
  z-index: 2;
  overflow: hidden;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.5);
  background: #00BCD4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

/*--------------------
Chat Title
--------------------*/
.chat-title {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 45px;
      -ms-flex: 0 1 45px;
          flex: 0 1 45px;
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  padding: 10px 10px 10px 50px; }
  .chat-title h1, .chat-title h2 {
    font-weight: normal;
    font-size: 10px;
    margin: 0;
    padding: 0; }
  .chat-title h2 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 8px;
    letter-spacing: 1px; }
  .chat-title .avatar {
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 9px;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 2px solid rgba(255, 255, 255, 0.24); }
    .chat-title .avatar img {
      width: 100%;
      height: auto; }

/*--------------------
Messages
--------------------*/
.messages {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: rgba(255, 255, 255, 0.5);
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  width: 100%; }
  .messages .messages-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  .messages .message {
    clear: both;
    float: left;
    padding: 6px 10px 7px;
    border-radius: 10px 10px 10px 0;
    background: rgba(0, 0, 0, 0.3);
    margin: 8px 0;
    font-size: 11px;
    line-height: 1.4;
    margin-left: 35px;
    position: relative;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
    .messages .message .timestamp {
      position: absolute;
      bottom: -15px;
      font-size: 9px;
      color: rgba(255, 255, 255, 0.3); }
    .messages .message::before {
      content: '';
      position: absolute;
      bottom: -6px;
      border-top: 6px solid rgba(0, 0, 0, 0.3);
      left: 0;
      border-right: 7px solid transparent; }
    .messages .message .avatar {
      position: absolute;
      z-index: 1;
      bottom: -15px;
      left: -35px;
      border-radius: 30px;
      width: 30px;
      height: 30px;
      overflow: hidden;
      margin: 0;
      padding: 0;
      border: 2px solid rgba(255, 255, 255, 0.24); }
      .messages .message .avatar img {
        width: 100%;
        height: auto; }
    .messages .message.message-personal {
      float: right;
      color: #fff;
      text-align: right;
      background: -webkit-linear-gradient(330deg, #248A52, #257287);
      background: linear-gradient(120deg, #248A52, #257287);
      border-radius: 10px 10px 0 10px; }
      .messages .message.message-personal::before {
        left: auto;
        right: 0;
        border-right: none;
        border-left: 5px solid transparent;
        border-top: 4px solid #257287;
        bottom: -4px; }
    .messages .message:last-child {
      margin-bottom: 30px; }
    .messages .message.new {
      -webkit-transform: scale(0);
          -ms-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 0 0;
          -ms-transform-origin: 0 0;
              transform-origin: 0 0;
      -webkit-animation: bounce 500ms linear both;
              animation: bounce 500ms linear both; }
    .messages .message.loading::before {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      content: '';
      display: block;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.5);
      z-index: 2;
      margin-top: 4px;
      -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
              animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
      border: none;
      -webkit-animation-delay: .15s;
              animation-delay: .15s; }
    .messages .message.loading span {
      display: block;
      font-size: 0;
      width: 20px;
      height: 10px;
      position: relative; }
      .messages .message.loading span::before {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        content: '';
        display: block;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.5);
        z-index: 2;
        margin-top: 4px;
        -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
                animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
        margin-left: -7px; }
      .messages .message.loading span::after {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        content: '';
        display: block;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.5);
        z-index: 2;
        margin-top: 4px;
        -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
                animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
        margin-left: 7px;
        -webkit-animation-delay: .3s;
                animation-delay: .3s; }

/*--------------------
Message Box
--------------------*/
.message-box {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 40px;
      -ms-flex: 0 1 40px;
          flex: 0 1 40px;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  position: relative; }
  .message-box .message-input {
    background: none;
    border: none;
    outline: none !important;
    resize: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 11px;
    height: 17px;
    margin: 0;
    padding-right: 20px;
    width: 265px; }
  .message-box textarea:focus:-webkit-placeholder {
    color: transparent; }
  .message-box .message-submit {
    position: absolute;
    z-index: 1;
    top: 9px;
    right: 10px;
    color: #fff;
    border: none;
    background: #248A52;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 1;
    padding: 6px 10px;
    border-radius: 10px;
    outline: none !important;
    -webkit-transition: background .2s ease;
    transition: background .2s ease; }
    .message-box .message-submit:hover {
      background: #1D7745; }

/*--------------------
Custom Srollbar
--------------------*/
.mCSB_scrollTools {
  margin: 1px -3px 1px 0;
  opacity: 0; }

.mCSB_inside > .mCSB_container {
  margin-right: 0px;
  padding: 0 10px; }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: rgba(0, 0, 0, 0.5) !important; }

/*--------------------
Bounce
--------------------*/
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.7% {
    -webkit-transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.41% {
    -webkit-transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.11% {
    -webkit-transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.72% {
    -webkit-transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.32% {
    -webkit-transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.93% {
    -webkit-transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.54% {
    -webkit-transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.04% {
    -webkit-transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.15% {
    -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.26% {
    -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.49% {
    -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } }
@keyframes bounce {
  0% {
    -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.7% {
    -webkit-transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.41% {
    -webkit-transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.11% {
    -webkit-transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.72% {
    -webkit-transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.32% {
    -webkit-transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.93% {
    -webkit-transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.54% {
    -webkit-transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.04% {
    -webkit-transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.15% {
    -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.26% {
    -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.49% {
    -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } }

@-webkit-keyframes ball {
  from {
    -webkit-transform: translateY(0) scaleY(0.8);
            transform: translateY(0) scaleY(0.8); }
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); } }

@keyframes ball {
  from {
    -webkit-transform: translateY(0) scaleY(0.8);
            transform: translateY(0) scaleY(0.8); }
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); } }

.invite-friend--wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px; }
  .invite-friend--wrapper i {
    display: inline-block;
    margin-right: 5px;
    color: #666; }
    .invite-friend--wrapper i:hover {
      color: #444; }

.invite-friend__search-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.invite-friend__title {
  font-size: 16px;
  margin: 20px 0 5px; }

.invite-friend__input {
  width: 200px;
  height: 30px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #cdcdcd; }

.invite-friend__btn {
  float: right;
  padding: 6px 25px;
  margin-left: 10px;
  border: 0;
  font-size: 14px;
  color: #fff;
  background: #4caf50;
  border-radius: 4px; }
  .invite-friend__btn:hover {
    color: #fff;
    background: #5ab35e; }

.delete-friend {
  position: absolute;
  top: 8px;
  right: 10px;
  color: #e74c3c;
  padding: 0; }
  .delete-friend :hover {
    color: #ec7063;
    background: transparent; }

/* Mixins */
/* Color Variables */
/* Theme Variables */
/* Animations */
@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  33% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  66% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

/* Component Styles - Steps */
.steps {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0 0 2rem 0;
  list-style: none; }

.step {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  pointer-events: none; }
  .step--active, .step--complete {
    cursor: pointer;
    pointer-events: all; }
  .step:not(:last-child):before, .step:not(:last-child):after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0.25rem;
    content: '';
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    will-change: width;
    z-index: 1; }
  .step:before {
    width: 100%;
    background-color: #3498db; }
  .step:after {
    width: 0;
    background-color: #5ab35e; }
  .step--complete:after {
    width: 100% !important;
    opacity: 1;
    -webkit-transition: width 0.6s ease-in-out, opacity 0.6s ease-in-out;
    transition: width 0.6s ease-in-out, opacity 0.6s ease-in-out; }

.step__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  border: 0.25rem solid #3498db;
  border-radius: 50%;
  color: transparent;
  font-size: 2rem;
  z-index: 5; }
  .step__icon:before {
    display: block;
    content: '\2713'; }
  .step--complete.step--active .step__icon {
    color: #fff;
    -webkit-transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out; }
  .step--incomplete.step--active .step__icon {
    border-color: #5ab35e;
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s; }
  .step--complete .step__icon {
    -webkit-animation: bounce 0.5s ease-in-out;
            animation: bounce 0.5s ease-in-out;
    background-color: #5ab35e;
    border-color: #5ab35e;
    color: #fff; }

.step__label {
  position: absolute;
  bottom: -2rem;
  left: 50%;
  margin-top: 1rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
  .step--incomplete.step--inactive .step__label {
    color: #3498db; }
  .step--incomplete.step--active .step__label {
    color: #fff; }
  .step--active .step__label {
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s; }

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT
Copyright (c) 2015 Daniel Eden
*/
body {
  -webkit-backface-visibility: hidden; }

.animated {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }
  .animated.infinite {
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }
  .animated.hinge {
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s; }
  .animated.bounceIn, .animated.bounceOut {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s; }
  .animated.flipOutX, .animated.flipOutY {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft; }

@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }

@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px); } }

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px); } }

.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft; }

@-webkit-keyframes fadeOutLeftBig {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px); } }

@keyframes fadeOutLeftBig {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px); } }

.fadeOutLeftBig {
  -webkit-animation-name: fadeOutLeftBig;
  animation-name: fadeOutLeftBig; }
