html,
body {
	height: 100%;
    background: radial-gradient(ellipse at center, #1f3649 0%, #17253d 44%, #040d11 100%);
    font-family: 'Roboto', sans-serif;
}
*,
*:before,
*:after,
*::before,
*::after {
	box-sizing: border-box;
}

.container {
    position: relative;
    max-width: 1200px;
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 auto;
    padding-top: 60px;
    background: #1f3649;
}

.content {
    min-height: 100%;
}

.main {
    width: 100%;
    min-height: 100%;
    background: radial-gradient(ellipse at center, #fff 0%, #e4e2e2 44%, #e2e0e0 100%);
}

.title {
    display: block;
    font-size: 30px;
    font-weight: bold;
    margin: 0 auto 10px;
    padding-top: 20px;
    text-align: center;
}