/* -------------------------------
Chats
-------------------------------- */
.friends {
	padding: 0 10px;
	min-height: 100%;
}
.friend {
	width: 100%;
	height: auto;
	padding-top: 10px;
	padding: 20px;

	&__table {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;
		padding: 10px 0;
	}

	&__item {
		position: relative;
		display: inline-block;
		width: 150px;
		text-align: center;
		padding: 10px;
		margin: 0 5px;
		text-decoration: none;
		font-size: 0;
		border-radius: 4px;
		background-color: #fff;
		box-shadow: 1px 1px 3px rgba(0,0,0, .3);
	}

	&__avatar {
		display: inline-block;
		width: 40px;
        height: 40px;
        border-radius: 50%;
	}

	&__user-name {
		display: block;
		font-size: 14px;
		color: #34495e;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #000;
		margin-top: 5px;
	}
}



//share
.share {
	padding: 0 20px 20px;
	&__wrapper {
		display: flex;
		justify-content: flex-start;
		padding-top: 20px;
	}
	&__link {
		input {
			width: 200px;
			height: 30px;
			padding: 5px;
			border-radius: 3px;
			border: 1px solid #cdcdcd;
		}
		i {
			display: inline-block;
			margin-right: 1px;
			color: #666;
			vertical-align: middle;
		}
	}

	.friend {
		width: 20%;
		padding: 0 10px 0 0;
		margin-top: 20px;
		&__item {
			display: flex;
			background: transparent;
			height: auto;
			margin-bottom: 8px;
		}
		&__avatar {
			width: 30px;
			height: 30px;
			margin-right: 10px;
		}
		&__user-name {
			color: #666;
		}
	}
}
