.login {
    &__container {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 300px;
        width: 70%;
        max-width: 840px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, -50%);
    }
    &__main-icon {
        position: absolute;
        top: -100px;
        left: 50%;
        font-size: 80px;
        color: #fff;
        transform: translateX(-50%);
    }
    &__description-wrapper {
        width: 40%;
        height: 100%;
        background: #319DB5;
        padding: 30px 20px;
        color: #fff;
        line-height: 1.75;
        h3 {
            margin-bottom: 20px;
            text-align: center;
            font-weight: bold;
            font-size: 27px;
        }
    }
    .description {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 14px;
        &__item {
            width: 100%;
            i {
                margin-right: 10px;
                color: #f3f3f3;
            }
        }
    }
    &__form-wrapper {
        width: 60%;
        height: 100%;
        padding: 38px 20px;
        background: #fff;
        text-align: center;
        h3 {
            font-weight: bold;
            font-size: 27px;
            margin-bottom: 50px;
        }
        .btn {
            display: block;
            width: 70%;
            padding: 10px;
            border-radius: 3px;
            color: #fff;
            margin: 10px auto;
            font-size: 16px;
            i {
                float: none;
                margin-right: 10px;
                font-size: 18px;
                vertical-align: middle;
            }
            &__facebook {
                border: 1px solid #3B5998;
                background: #3B5998;
                text-decoration: none;
                &:hover {
                    background: lighten(#3B5998, 10% );
                }
            }
            &__google {
                border: 1px solid #CC181E;
                background: #CC181E;
                text-decoration: none;
                margin-top: 15px;
                &:hover {
                    background: lighten(#CC181E, 10% );
                }
            }
        }

    }
}
.btn {
    border: none;
    outline: none;
    background: none;
}
