.tabs {
    width: 100%;

	.js-tabs-nav {
		display: block;
	}

	ul {
		overflow: hidden;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	li {
		float: left;
		width: 25%;
	}

	a {
		display: block;
		padding: 20px;
		text-decoration: none;
		color: black;
        border-bottom: 3px solid transparent;
        text-align: center;
        transition: all 200ms;
	}

	a:active {
		color: white;
	}

	.is-active a {
        border-bottom: 3px solid red;
	}
    .tab-content {
    	display: none;
    	padding: 20px;
    }

    .is-active {
    	display: block;
    }

    .is-hidden {
    	display: none;
    }
}
