.header {
	position: fixed;
	top: 0;
	height: 60px;
	max-width: 1200px;
	width: 100%;
	padding: 0 10px;
	background-color: #00bcd4;
	z-index: 10;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);

	&__menu {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		height: 100%;
	}

	.menu {
		&__item {
			color: #fff;
			margin-right: 10px;

			a {
				color: #fff;
				text-decoration: none;
				transition: all 200 ms;
				&:hover {
					color: #e4e4e4;
				}
			}
		}
	}

	// auser
	.user {
		&__avatar {
			display: inline-block;
			width: 42px;
			height: 42px;
			border-radius: 50%;
			overflow: hidden;
			border: 1px solid #666;
		}

		&__name {
			position: relative;
			display: inline-block;
			font: bold 15px Arial, Tahoma, Verdana, sans-serif;
			color: #fff;
			margin-right: 10px;
			margin-left: 20px;
			padding-right: 10px;
			transition: all 200ms;

			&:hover {
				color: #e4e4e4;
			}
			&::after {
				position: absolute;
				top: 7px;
				right: -5px;
				content: '';
				display: inline-block;
				@include triangle(12px, #fff, down);
			}
		}

		&__drop-down {
			position: absolute;
			bottom: -15px;
			right: 0;
			display: none;

			&__item {
				color: #fff;
				text-decoration: none;
				font-weight: 400;
			}
		}
	}
}