.video {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    &__item {
        width: 48%;
        margin-bottom: 15px;
        text-align: center;
        font-weight: bold;
    }
    iframe {
        width: 100%;
    }
    &__title {
        margin-top: 5px;
        padding-bottom: 5px;
    }
    &__delete {
        display: inline-block;
    }
    &__mass-viewing {
        display: inline-block;
    }
}