.video.video-search {
	justify-content: space-between;
    margin: 10px 0;
    padding: 20px 20px 0;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 1px 5px rgba(0,0,0, .2);
}

.video-search {
	margin-bottom: 20px;

	.video {
		padding: 15px;
		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 1px;
			background-color: rgb(220,225,229);
			filter-gradient: #dce1e5, #dce1e5, horizontal;
			background-image: linear-gradient(left, rgba(255,225,255,1) 0%,#3498db 50%,rgba(255,225,255,1) 100%);
		}
	}

	.video__item {
		width: 23%;
		margin-bottom: 20px;
		padding: 10px;
		border-radius: 4px;
		box-shadow: 0px 2px 4px 3px rgba(0, 0, 0, 0.1);
	}
	iframe {
		height: 120px;
	}
	.btn-info-clear {
    	width: 100%;
    	margin-top: 8px;
    	margin-bottom: 5px;
    }
}